---
layout: page
---

<html class="no-js" lang="en">

<head>
    <meta content="charset=utf-8">
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/galleries.css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/magnificpopup.css" media="screen" />
    <!-- Modernizr -->
    <script src="{{ site.baseurl }}/js/modernizr.js"></script>
</head>

<body>
  {% for gallery in site.data.galleries %}
  {% if gallery.name == page.gallery-name %}
  <section id="content" role="main">
    <div class="wrapper">
	  <!-- <p id="description">{{ gallery.description }}</p> -->
            <!-- Gallery __-->
            <div class="gallery masonry-gallery">
                {% for image in gallery.images  %}
                <figure class="gallery-item">
                    <header class='gallery-icon'>
                      <a href="{{ site.baseurl }}/gallery/archivecompress/{{gallery.name}}/{{gallery.name}}{{ image.number }}.jpg"
						 class="popup">
						<img src="{{ site.baseurl }}/gallery/archivecompress/{{gallery.name}}/{{gallery.name}}{{ image.number }}.jpg"
							 style="cursor: default;"
							 class="img-thumbnail" />
					  </a>
                    </header>
                    <figcaption class='gallery-caption'>
                        <div class="entry-summary">
                            <!-- <h3>TITLE GOES HERE</h3> -->
                            <p>{{ image.caption }}</p>
                        </div>
                    </figcaption>
                </figure>
                {% endfor %}
            </div>
        </div>
        <!-- END .wrapper -->
    </section>

  {% endif %}
  {% endfor %}

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="{{ site.baseurl }}/js/retina.min.js"></script>
    <!-- include Masonry -->
    <script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
    <!-- include image popups -->
    <script src="{{ site.baseurl }}/js/jquery.magnific-popup.min.js"></script>
    <!-- include mousewheel plugins -->
    <script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
    <!-- include carousel plugins -->
    <script src="{{ site.baseurl }}/js/jquery.tinycarousel.min.js"></script>
    <!-- include svg line drawing plugin -->
    <script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
    <!-- include custom script -->
    <script src="{{ site.baseurl }}/js/scripts.js"></script>

</body>

</html>
